<div class="column">
  <div class="card">{{make}} {{model}}<h3>${{rate}} / day</h3>
    <div>
    <img src="{{photo}}">
    </div> 
    <div class="dropdown">
        <button class="dropbtn">Details</button>
        <div class="dropdown-content">
          <p>Year: {{year}}</p>
          <p>Color: {{color}}</p>
        </div>
        <div class="rentDiv">
          <a href="./cars/{{id}}" class="rent">Rent</a>
        </div>
      </div>
  </div>
</div>